<div>
    <div>
        The hackers have been able to gain control of the Tower brakes by exploiting a weakness in a password. They were able to brute force the password since the password was short, only used alphabetical characters and is a word in the english dictionary. The hackers used a dictionary attack.
        <br>
        <countdown [config]="config" (event)="handleEvent($event)"></countdown>
        <div class="hint" *ngIf="showHint">
          <i class="fa fa-info-circle"></i>
          Hint!
          <p>This is a hint.</p>
        </div>
        <br>
        The exploited password was <strong>cloud</strong>
        <br>
        <br>
        Can you help make the password stronger?
    </div>
    <br/>
    <div class="form-group mb-3">
        <label for password class="form-label">Input the new password here:</label>
        <input class="bg-dark border-light, form-control"
            #password
        />
        <button
            class="btn bg-dark btn-outline-light mt-3"
            (click)="requirementsFound(password.value)"
        >
            Submit
        </button>
    </div>

    <div class="wrongAnswer fw-bold" *ngIf="incorrect &&  !firstTime">
        <i class="fa fa-times-circle"></i>
        That's not a strong enough password. Have you used enough variation?
    </div>

    <div class="rightAnswer" *ngIf="!firstTime && !incorrect">
        <div *ngIf="capLetter">
            <i class="fa fa-check"></i>
            Well done, you are using capital letters!
        </div>
        <div *ngIf="specialChar">
            <i class="fa fa-check"></i>
            Great! You have added a special character.
        </div>
        <div *ngIf="number">
            <i class="fa fa-check"></i>
            Good job! You added numbers.
        </div>
        <div *ngIf="length">
            <i class="fa fa-check"></i>
            A lengthy password is a secure password!
        </div>
        <div *ngIf="!complete">
            <i class="fa fa-check"></i>
            Keep making it stronger!
        </div>
        <div *ngIf="complete">
            Fantastic work! You have created a strong password by combining capital letters, numbers, special characters and adding length (16 characters is becoming the recommended length for secure passwords). You can now move on to the next part of the puzzle.
            <br>
            <button (click)="nextClicked()" class="btn btn-success">Next</button>
        </div>
    </div>
</div>
