<h2>You are in Glasgow Central - Very Low Level</h2>
<br/>
<div class="row">
  <div class="column">
    <countdown [config]="config" (event)="handleEvent($event)"></countdown>
    <div class="hint" *ngIf="showHint1">
      <i class="fa fa-info-circle"></i>
      Hint!
      <img src="../../../assets/subwaymaphint.png" alt="Hint keys">
      <div class="attribution">Image Attribution: <span class="attributionText">Photograph courtesy of the development team</span></div>
    </div>

    <div class="hint" *ngIf="showHint2">
      <i class="fa fa-info-circle"></i>
      Hint!
      <p>The location is a single word Subway station! There are only so many! You could try them all</p>
    </div>

    <p>The tunnel emerges onto an old station platform.</p>
    <p>A nearby sign says: Glasgow Central - low level tours</p>
    <br/>
    <p>On the wall, someone has stuck a large subway map ... a rather apocalyptic one!!!</p>
    <p>Examining the map closely, you notice that 23 letters have been added and 14 scored out:</p>
    <ul>
      <li>St. Enoch</li>
      <li>Bridge Street (changed to "Braaaiins Street")</li>
      <li>West Street (changed to "Infest Street")</li>
      <li>Shields Road</li>
      <li>Kinning Park (changed to "Killing Park")</li>
      <li>Cessnock (changed to "Cesshock")</li>
      <li>Ibrox (changed to "Diebrox")</li>
      <li>Govan (changed to "Gorevan")</li>
      <li>Partick (changed to "Panick")</li>
      <li>Kevinhall (changed to "Kevinhell")</li>
      <li>Hillhead</li>
      <li>Kelvinbridge</li>
      <li>St. George's Cross</li>
      <li>Cowcaddens (changed to "HowSadEnds")</li>
      <li>Buchanan Street</li>
      <li>Inner Circle (changed to "Dinner Circle")</li>
    </ul>
    <br/>
    <p>Taking the 23 added letters, then removing 9 of the deleted letters, can you rearrange the 14 remaining letters into a three word message?</p>
    <br/>
    <div>
      <label>Which location is safe? Type your answer and hit Enter.
        <input #box
               (keyup.enter)="update(box.value)"
               (blur)="update(box.value)">
      </label>
    </div>
    <br/>

    <div class="rightAnswer" *ngIf="correctAnswer">
      <i class="fa fa-check"></i>
      You got the right answer and now you have to find the route to St Enoch's Subway so you can get to that safe Subway station!
      <Button class="button hvr-grow hvr-icon-back" routerLink="/centrallowlevel">
        Go to Glasgow Central secret platform
      </Button>
    </div>

    <div class="wrongAnswer" *ngIf="incorrect">
      <i class="fa fa-times-circle"></i>
      That is not the right answer!
    </div>

  </div>
  <div class="column">
    <img src="../../../assets/subwayMap.png" alt="Down into the sub-basement">
    <div class="attribution">Image Attribution: <span class="attributionText">Image courtesy of the development team</span></div>
  </div>
</div>

<!--<Button class="button hvr-grow hvr-icon-back" routerLink="/centralGlasgow">-->
<!--  <i class="fa fa-chevron-circle-left hvr-icon"></i>Go back to Glasgow Central map-->
<!--</Button>-->
