<div class="row">
  <div class="column">
    <p>The overgrown Botanic Gardens stretch out in front of you.</p>
    <p>Somewhere out there is the entrance to the lost Botanic Gardens station.</p>
    <br/>
    <p>You hear a rustling in the undergrowth. Hopefully, it's not the squirrels!</p>
  </div>
  <div class="column">
    <maphilight
      [config]="config"
      id="BotanicGardensImage">
      <img src="../../../assets/TheLostGardens.png" alt="Overgrown Botanic Gardens" usemap="#image-map">
      <div class="attribution">Image Attribution:
        <a class="attributionlink" target="_blank" href="https://en.wikipedia.org/wiki/Lost_Gardens_of_Heligan#/media/File:TheLostGardensOfHeligan-Jungle.jpg">
          https://en.wikipedia.org/wiki/Lost_Gardens_of_Heligan#/media/File:TheLostGardensOfHeligan-Jungle.jpg</a>
      </div>

      <map name="image-map">
        <area alt="Entrance to Botanic Gardens Station" title="Entrance to Botanic Gardens Station"
              coords="395,376,426,369,449,380,456,396,462,411,470,422,466,433,456,433,443,434,436,417,428,416,423,422,409,428,401,422,392,405"
              shape="poly" routerLink="/BotanicStation">
      </map>
    </maphilight>
  </div>
</div>
