<div class="landing">
  <div>
  Thank you for taking up the incident.<br/>
  Hackers have taken over the Glasgow Tower!<br/><br/>

  Your job is to restore system operations and save the people stuck at the top of the lift<br/>

  Don't forget we might need a Route Cause Analysis (RCA) on how these breaches happened, so think about how we could protect the Tower better in the future while fixing these issues.<br/><br/> 

  </div>
  <h3>Rules for Cyber Ops</h3>
  <div>
  DO NOT use the back button in your browser<br/>
  DO NOT reload the web page<br/>
  DO NOT reverse engineer the website for solutions (this will disqualify your team)
  </div>
  <br/>
  <div>
    DO work together as a team<br/>
    DO use the Defender's Handbook to help you<br/>
  </div>
  <br/>
  <div class="landing__form-group">
      <label>Please enter your team name:</label>
      <input 
        #team
        class="landing__form-input"
        (keyup.enter)="start(team.value)"
        autofocus
        >
    <button class="btn btn-outline-light btn-sm landing__form-button" (click)="start(team.value)">
      Join the incident
    </button>
    </div>  
</div>
