<div class="centerAll">

  <div>
  Just when you thought that 2020 couldn't get any worse ...
  </div>
  <br/>
  <div>
  Zombies have taken over Glasgow!!! It is not safe to wander the streets.<br/>
  You and your team are trapped in an office and need to solve various challenges in order to escape.<br/>
  You have thirty minutes to solve all the challenges. A countdown timer is shown at the top of the page.
  </div>
  <br/>
  <div>
  Please DO NOT<br/>
  Use the back button in your browser<br/>
  Reload the website (this will send you back to the start)<br/>
  Reverse engineer the website for solutions (this will disqualify your team)
  </div>
  <br/>
  <div>
  Please DO<br/>
  Work together as a team<br/>
  Use any online resources that will help to solve the challenges
  </div>
  <br/>
  <div>
    <label>Please enter your team name:
      <input #team class="teamName"
             (keyup.enter)="teamUpdate(team.value)"
             (blur)="teamUpdate(team.value)">
    </label>
  </div>
  <br/>
  <br/>
  <div>
    <label>Please ask your Room Guide for your access code:
      <input #pin
             (keyup.enter)="pinUpdate(pin.value)"
             (blur)="pinUpdate(pin.value)">
    </label>
  </div>
  <br/>
  <br/>
  <div class="rightAnswer" *ngIf="correctAnswer">
    <p>The game timer will start once you click the button below.</p>
    <i class="fa fa-check"></i>
    <Button class="button hvr-grow hvr-icon-back" (click)="onStart()" routerLink="/centralGlasgow">
      Please enter the game
    </Button>
  </div>

  <div class="wrongAnswer" *ngIf="incorrectCount > 0">
    <i class="fa fa-times-circle"></i>
    That is not the correct access code!
  </div>

  <br/>
  <br/>
  <br/>
</div>
