<div class="row">
  <div class="column">
    <p>Finally, the lost Botanic Gardens station.</p>
    <br/>
    <p>... that definitely sounds like squirrels.</p>
    <p>Quick, follow the tunnel to the next location.</p>
  </div>
  <div class="column">
    <maphilight
      [config]="config"
      id="botanicStation"
    >
      <img src="../../../assets/botanicstation.png" alt="Botanic Gardens low level station" usemap="#image-map">
      <div class="attribution">Image Attribution: <span class="attributionText">Reproduced with thanks from PInterest</span>
        <a class="attributionLink" target="_blank" href="https://www.pinterest.co.uk/pin/357332551661629050/">
          'Abandoned Glasgow'</a>
      </div>

      <map name="image-map">
        <area alt="The tunnel to next location" title="The tunnel to next location" routerLink="/puzzlebus"
              coords="350,217,379,242" shape="rect">
      </map>
    </maphilight>
  </div>
</div>
