<div class="centerAll">
  <br/>
  <h1> Congratulations Team '{{teamDetailsService.teamName}}'</h1>
  <br/>
  <h2> You Escaped, saved Zombie Glasgow and possibly the World.</h2>
  <br/>
  <p>The Media are clamouring for a team photograph.</p>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <p>Credits: thank you to the development team for making this all possible.</p>
  <p>Disclaimer: no Zombies, living or undead, were harmed in the making of this Escape Room.</p>
</div>
