<div class="ending">
  <br/>
  <h1> Well Done Team '{{teamDetailsService.teamName}}'</h1>
  <br/>
  <h2> 
  You solved the challenges in {{ timerControlService.displayTime }} with a score of {{teamDetailsService.score}}.
  </h2>
  <br/>
  You outsmarted the hackers and restored operation to the Glasgow Tower!
  <br/>
  <br/>
  Cyber security is something we should all be aware of in our everyday lives,
  but if you want a career in cyber security then find out about a wide variety of jobs available and skills you need by visiting the 
  <a 
  class="darkBG" 
  target="_blank" 
  href="https://www.cyberscotland.com/skills-careers/cyber-security-careers/"
  >
    Cyber Scotland
  </a>
    and start your journey into cyber security today.
  <br/>
  <br/>
  Glasgow Science Centre thanks you for saving the day!
  <br/>
  <br/>
  <p>Disclaimer: hacking in any form is illegal. All activity carried out here was done in a safe and secure environment.</p>
  <p>Carrying out this type of activity outwith this format could result in a serious criminal conviction and should not be done.</p>
</div>
