<div class="centerAll blackcback">
  <br/>
  <img src="../../../assets/fireworks1.gif" alt="fireworks!">
  <h1> Congratulations Team '{{teamDetailsService.teamName}}'</h1>
  <br/>
  <h2> You Escaped, with {{calcTime()}} left, saved Zombie Glasgow and possibly the World.</h2>
  <br/>
  <p>The Media are clamouring for a team photograph.</p>
  <br/>
  <img src="../../../assets/fireworks2.gif" alt="fireworks!">
  <br/>
  <img src="../../../assets/fireworks3.gif" alt="fireworks!">
  <br/>
  <p>Credits: thank you to the development team for making this all possible.</p>
  <p>Disclaimer: no Zombies, living or undead, were harmed in the making of this Escape Room.</p>
  <br/>
  <img src="../../../assets/fireworks4.gif" alt="fireworks!">

  <!--  <form class="contact-form" (submit)="sendEmail($event)">-->
  <!--    <label>Name</label>-->
  <!--    <input type="text" name="user_name">-->
  <!--    <label>Email</label>-->
  <!--    <input type="email" name="user_email">-->
  <!--    <label>Message</label>-->
  <!--    <textarea name="message"></textarea>-->
  <!--    <input type="submit" value="Send">-->
  <!--  </form>-->
</div>
