<div class="row">
    <div class="col">
      <countdown [config]="config" (event)="handleEvent($event)"></countdown>
      <div class="hint" *ngIf="showHint">
        <i class="fa fa-info-circle"></i>
        Hint!
        <p>This is a hint.</p>
        </div>
        <div>
            {{ description }}
        </div>
        <br/>
        <div>
            {{ emailLabel }}
        </div>
        <div class="rightAnswer mt-3 fw-bold" role="alert" *ngIf="signsFound.length > 0">
            <i class="fa fa-check"></i>
            That's Right!
            <ul *ngFor="let sign of signsFound">
                <li>{{ sign.name }}: <span class="fw-lighter">{{ sign.desc }}</span></li>
            </ul>
            <div *ngIf="allSignsFound">
                <span class="fw-bold me-2">You have found all the correct answers!</span>
                <button (click)="nextClicked()" class="btn btn-success"> Next </button>
            </div>
        </div>

        <div class="wrongAnswer fw-bold" *ngIf="isWrong">
            <i class="fa fa-times-circle"></i>
            No vulnerability here! Try again.
        </div>
        <br/>


        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 960">
            <image
            xlink:href="../../../../../assets/puzzle03/phishingemailmockup.PNG"
            width="1920"
            height="960"
            (click)="phishingSignFound('nope')"
            />
            <a (click)="phishingSignFound('theRequest')">
                <image
                    height="40"
                    width="475"
                    x="1050"
                    y="335"
                    ></image>
            </a>
            <a (click)="phishingSignFound('language')">
                <image
                    height="60"
                    width="200"
                    x="25"
                    y="30"
                    ></image>
            </a>
            <a (click)="phishingSignFound('language')">
                <image
                    height="40"
                    width="100"
                    x="255"
                    y="335"
                    ></image>
            </a>
            <a (click)="phishingSignFound('language')">
                <image
                    height="40"
                    width="150"
                    x="805"
                    y="335"
                    ></image>
            </a>
            <a (click)="phishingSignFound('content')">
                <image
                    height="40"
                    width="250"
                    x="50"
                    y="530"
                    ></image>
            </a>
            <a (click)="phishingSignFound('content')">
                <image
                    height="40"
                    width="390"
                    x="50"
                    y="590"
                    ></image>
            </a>
            <a (click)="phishingSignFound('content')">
                <image
                    height="40"
                    width="300"
                    x="545"
                    y="100"
                    ></image>
            </a>
            <a (click)="phishingSignFound('sender')">
                <image
                    height="40"
                    width="250"
                    x="800"
                    y="100"
                    ></image>
            </a>
            <a (click)="phishingSignFound('links')">
                <image
                    height="80"
                    width="470"
                    x="650"
                    y="390"
                    ></image>
            </a>
            <a (click)="phishingSignFound('formatting')">
                <image
                    height="200"
                    width="400"
                    x="40"
                    y="730"
                    ></image>
            </a>

            <!-- checks -->
            <a *ngIf="phishingSigns.theRequest.found">
                <image
                    height="40"
                    width="40"
                    x="1050"
                    y="335"
                    xlink:href="../../../assets/tick.svg"
                    ></image>
            </a>
            <a *ngIf="phishingSigns.language.found">
                <image
                    height="40"
                    width="40"
                    x="25"
                    y="30"
                    xlink:href="../../../assets/tick.svg"
                    ></image>
            </a>
            <a *ngIf="phishingSigns.language.found">
                <image
                    height="40"
                    width="40"
                    x="255"
                    y="335"
                    xlink:href="../../../assets/tick.svg"
                    ></image>
            </a>
            <a *ngIf="phishingSigns.language.found">
                <image
                    height="40"
                    width="40"
                    x="805"
                    y="335"
                    xlink:href="../../../assets/tick.svg"
                    ></image>
            </a>
            <a *ngIf="phishingSigns.content.found">
                <image
                    height="40"
                    width="40"
                    x="50"
                    y="530"
                    xlink:href="../../../assets/tick.svg"
                    ></image>
            </a>
            <a *ngIf="phishingSigns.content.found">
                <image
                    height="40"
                    width="40"
                    x="50"
                    y="590"
                    xlink:href="../../../assets/tick.svg"
                    ></image>
            </a>
            <a *ngIf="phishingSigns.content.found">
                <image
                    height="40"
                    width="40"
                    x="545"
                    y="100"
                    xlink:href="../../../assets/tick.svg"
                    ></image>
            </a>
            <a *ngIf="phishingSigns.sender.found">
                <image
                    height="40"
                    width="40"
                    x="800"
                    y="100"
                    xlink:href="../../../assets/tick.svg"
                    ></image>
            </a>
            <a *ngIf="phishingSigns.links.found">
                <image
                    height="40"
                    width="40"
                    x="650"
                    y="390"
                    xlink:href="../../../assets/tick.svg"
                    ></image>
            </a>
            <a *ngIf="phishingSigns.formatting.found">
                <image
                    height="40"
                    width="40"
                    x="40"
                    y="730"
                    xlink:href="../../../assets/tick.svg"
                    ></image>
            </a>
        </svg>
    </div>
</div>
