<div class="row">
  <div class="column">
    <p>Waiting for the next train, the underground station is suddenly plunged into darkness.</p>
    <p>A power cut! Something has probably chewed through the cables.</p>
    <br/>
    <p>You set off on foot. Your head torch is beginning to dim. It's a long walk to Hillhead.</p>
  </div>
  <div class="column">
    <maphilight
      [config]="config"
      id="hillheadTunnelMap"
    >
      <img src="../../../assets/hillheadtunnel.png" alt="Tunnel off to Hillhead" height="800" width="1200" usemap="#image-map">
      <div class="attribution">Image Attribution: <span class="attributionText">Reproduced with thanks (© James Cridland/Flickr) </span>
        <a class="attributionLink" target="_blank" href="https://theculturetrip.com/europe/united-kingdom/scotland/articles/the-untold-story-behind-glasgows-secret-tunnel-network/">
          'Article - The untold story behind Glasgows secret tunnel network'</a>
      </div>

      <map name="image-map">
        <area shape="poly" alt="To Hillhead station" title="To Hillhead station" coords="114,374,121,476,168,512,297,505,258,492,199,476,166,456" routerLink="/HillheadMap">
      </map>
    </maphilight>
  </div>
</div>
