<div class="row">
  <div class="column">
    <p>Extra descriptive text to be defined.</p>
  </div>
  <div class="column">
    <maphilight
      [config]="config"
      id="hillheadMap"
    >
      <img src="../../../assets/Botanic&Uni.PNG" alt="Around Hillhead Underground" usemap="#image-map">
      <div class="attribution">Map Attribution: <span class="attributionText">Reproduced with the permission of the </span>
        <a class="attributionLink" target="_blank" href="https://maps.nls.uk/view/103656952">'National Library of Scotland'</a>
      </div>

      <map name="image-map">
        <area alt="Hillhead Underground station" title="" coords="163,328,193,317,199,336,167,348" shape="poly" routerLink="/puzzledna">
        <div *ngIf="locationTracker.currentStatus.get('BotanicGardens')">
          <area alt="The Botanic Gardens" title="The Botanic Gardens"
                coords="165,325,193,277,222,242,254,219,257,204,240,189,223,180,230,168,164,126,165,20,204,19,206,38,217,64,255,90,291,108,332,124,363,137,386,154,401,170,381,200,352,184,327,179,295,190,274,163,250,176,254,188,270,213,240,237,212,261,189,298,176,321"
                shape="poly" routerLink="/puzzleplants">
        </div>
        <div *ngIf="locationTracker.currentStatus.get('BotanicStation')">
          <area alt="The Botanic garden railway tunnel" title="The Botanic garden railway tunnel"
                coords="272,168,251,183,273,216,281,208,342,255,471,328,496,367,506,412,504,455,490,500,501,504,513,456,514,412,510,376,497,343,481,320,436,296,327,227,294,203,297,195" shape="poly">
        </div>
        <area alt="The Kelvingrove park tunnel" title="The Kelvingrove park tunnel"
              coords="495,489,477,536,460,587,448,635,443,673,431,733,442,733,449,695,458,643,465,604,478,554,493,520,504,494" shape="poly" routerLink="/puzzlelocation">
      </map>
    </maphilight>
  </div>
</div>

<!--<Button class="button hvr-grow hvr-icon-back" routerLink="/centralGlasgow">-->
<!--  <i class="fa fa-chevron-circle-left hvr-icon"></i>Go back to map-->
<!--</Button>-->
