<div class="row">
  <div class="column">
  </div>
  <div class="column">
    <maphilight
      [config]="config"
      id="secretTunnelMap"
    >
    <img src="../../../assets/Botanic&Uni.PNG" alt="Around Hillhead Underground" usemap="#image-map">

  <map name="image-map">
    <area alt="The Gardens" title="The Gardens"
          coords="165,325,195,273,219,241,250,219,277,199,207,154,163,127,241,80,297,113,349,127,388,158,365,191,327,190,291,205,265,219,242,235,219,260,175,322" shape="poly">
  </map>
    </maphilight>
  </div>
</div>

<Button class="button hvr-grow hvr-icon-back" routerLink="/centralGlasgow">
  <i class="fa fa-chevron-circle-left hvr-icon"></i>Go back to map
</Button>
