<h2>You are on the banks of the Clyde at the Rotunda!</h2>

<div class="row">
  <div class="column">
    <p>After a long time wandering through dark, damp tunnels, you eventually emerge by the river at the Glasgow Rotunda.</p>
    <p>Fortunately, there doesn't appear to be any Zombies around.</p>
    <p>Unfortunately, you're not sure where to go next.</p>

    <p>You brave the Glasgow drizzle to explore outside the Rotunda and eventually notice numbers painted on the wall:</p>

    <p>36.995884, -85.911921<br/>
      57.273628, -6.215502<br/>
      48.930045, 8.862919<br/>
      34.152041, -85.678853<br/>
    </p>

    <p>Looking more closely, you see that someone has scratched the following words very faintly underneath:</p>
    <p>town island river city</p>

    <div>
      <label>But where to go next? Type your answer and hit Enter.
        <input #box
               (keyup.enter)="update(box.value)"
               (blur)="update(box.value)">
      </label>
    </div>

    <div class="rightAnswer" *ngIf="correctAnswer">
      <i class="fa fa-check"></i>
      You got the right answer and now you need to move on to that location!
      <Button class="button hvr-grow hvr-icon-back" routerLink="/ScienceCentre">
        Go to the Science Centre
      </Button>
    </div>

    <div class="wrongAnswer" *ngIf="incorrectCount > 0">
      <i class="fa fa-times-circle"></i>
      That is not the right answer!
    </div>

    <div class="hint" *ngIf="showHint">
      <i class="fa fa-info-circle"></i>
      Hint!
      <p>Maybe Google Maps could help?</p>
    </div>

  </div>
  <div class="column">
    <img src="../../../assets/locations.png" alt="TBD">
    <div class="attribution">Image Attribution:
      <a class="attributionlink" target="_blank" href="https://commons.wikimedia.org/wiki/File:Wfm_south_rotunda.jpg">https://commons.wikimedia.org/wiki/File:Wfm_south_rotunda.jpg</a>
    </div>
  </div>
</div>

<!--<Button class="button hvr-grow hvr-icon-back" routerLink="/centralGlasgow">-->
<!--  <i class="fa fa-chevron-circle-left hvr-icon"></i>Go back to central Glasgow map-->
<!--</Button>-->

