<h2>You are on the banks of the Clyde at the Rotunda!</h2>
<br/>
<div class="row">
  <div class="column">
    <countdown [config]="config" (event)="handleEvent($event)"></countdown>
    <div class="hint" *ngIf="showHint1">
      <i class="fa fa-info-circle"></i>
      Hint!
      <p>Make sure you get all the locations. Online Maps may prove helpful.</p>
    </div>

    <div class="hint" *ngIf="showHint2">
      <i class="fa fa-info-circle"></i>
      Hint!
      <p>Try saying the 4 locations out loud and run the names together.</p>
    </div>

    <p>After a long time wandering through dark, damp tunnels, you eventually emerge by the river at the Glasgow Rotunda.</p>
    <p>Fortunately, there are no Zombies around.</p>
    <p>Unfortunately, you're not sure where to go next.</p>

    <p>You brave the Glasgow drizzle to explore outside the Rotunda and notice some numbers painted on the wall:</p>

    <p class="monospaced">
      36.9959°N 85.9119°W <br/>
      57.2736°N 6.2155°W <br/>
      52.6366°N 5.8271°E <br/>
      34.1520°N 85.6788°W <br/>
      <!--
      +36.9959, -85.9119<br/>
      +57.2736, -6.2155<br/>
      +52.6366, +5.8271<br/>
      +34.1520, -85.6788<br/>
      -->
    </p>

    <div>
      <label>But where to go next? Type your answer and hit Enter.
        <input #box
               (keyup.enter)="update(box.value)"
               (blur)="update(box.value)">
      </label>
    </div>

    <div class="rightAnswer" *ngIf="correctAnswer">
      <i class="fa fa-check"></i>
      You got the right answer and now you need to move on to that location!
      <Button class="button hvr-grow hvr-icon-back" routerLink="/ScienceCentre">
        Go to the Science Centre
      </Button>
    </div>

    <div class="wrongAnswer" *ngIf="incorrect">
      <i class="fa fa-times-circle"></i>
      That is not the right answer!
    </div>

  </div>
  <div class="column">
    <img src="../../../assets/locations.png" alt="TBD">
    <div class="attribution">Image Attribution:
      <a class="attributionlink" target="_blank" href="https://commons.wikimedia.org/wiki/File:Wfm_south_rotunda.jpg">https://commons.wikimedia.org/wiki/File:Wfm_south_rotunda.jpg</a>
    </div>
  </div>
</div>

<!--<Button class="button hvr-grow hvr-icon-back" routerLink="/centralGlasgow">-->
<!--  <i class="fa fa-chevron-circle-left hvr-icon"></i>Go back to central Glasgow map-->
<!--</Button>-->

