<h2>You are in the basement of your office!</h2>

<div class="row">
  <div class="column">
    <p>The stairs upward lead to certain death with the zombies.</p>
    <p>The walls are covered in Mathematical formula.</p>
    <p>There is a picture on the wall under which someone has written "Take the second taxicab"</p>
    <p>There is a single door in the wall with keypad access and you don't know where it leads </p>
    <br/>
    <p>Could it be that the second taxicab number is the pincode?</p>

    <div>
      <label>But what is the second taxicab number? Type your answer and hit Enter.
        <input #box
               (keyup.enter)="update(box.value)"
               (blur)="update(box.value)">
      </label>
    </div>

    <div *ngIf="correctAnswer">
      <p>You got the right answer and the door clicks open!</p>
      <Button class="button hvr-grow hvr-icon-back" routerLink="/mainoffice">
        Go to sub basement
      </Button>
    </div>

    <div class="wrongAnswer" *ngIf="incorrectCount > 0">
      <p>That is not the right answer!</p>
    </div>

    <div class="hint" *ngIf="showHint">
      <p>Hint!</p>
      <img src="../../../assets/ramanujan.png" alt="Srinivasa Ramanujan">
      <div class="attribution">Image Attribution:
        <a class="attributionLink" target="_blank" href="https://en.wikipedia.org/wiki/Taxicab_number#/media/File:Srinivasa_Ramanujan_-_OPC_-_2.jpg">Wikipedia</a></div>
    </div>

  </div>
  <div class="column">
    <img src="../../../assets/taxicab.png" alt="Down into the sub-basement">
    <div class="attribution">Image Attribution: <span class="attributionText">Photograph of taxicab courtesy of Rowan</span></div>
  </div>
</div>

<Button class="button hvr-grow hvr-icon-back" routerLink="/centralGlasgow">
  <i class="fa fa-chevron-circle-left hvr-icon"></i>Go back to central Glasgow map
</Button>

