<div class="row">
  <div class="column">
    <p>You and your team are trapped in an office and need to solve various puzzles in order to escape..</p>
    <p>You retreat from the zombies down to the basement of a large office.</p>
    <p>Will you be able to work together and solve the challenges before the 30 minute deadline expires?</p>
    <p>So far you have found only a 100 year old map of Glasgow to help you!</p>
    <p>Mabye something on the map will identify which office you are in?</p>
    <!--<p>Tracker: {{locationTracker.currentStatus.get('SecretTunnel')}}</p>-->
    <div *ngIf="locationTracker.currentStatus.get('SecretTunnel')">
      <br/>
      <p>Is there maybe more to find on the map?</p>
    </div>
    <div *ngIf="locationTracker.currentStatus.get('GlasgowCentralLowLevel')">
      <br/>
      <p>And now yet more to find on the map?</p>
    </div>
    <div *ngIf="locationTracker.currentStatus.get('StEnochTunnel')">
      <br/>
      <p>Keep looking on the map?</p>
    </div>
  </div>

  <div class="column">
    <maphilight
      [config]="config"
      id="centralMap"
    >
      <img alt="Central Glasgow" src="../../../assets/CentralGlasgow.PNG" usemap="#image-map">
      <div class="attribution">Map Attribution: <span class="attributionText">Reproduced with the permission of the </span>
        <a class="attributionLink" target="_blank" href="https://maps.nls.uk/view/103656952">'National Library of Scotland'</a>
      </div>
      <map name="image-map">
        <area alt="The Main Office" coords="414,196,403,237,461,251,471,208,471,209" routerLink="/puzzletaxi" shape="poly" title="The Main Office">
        <div *ngIf="locationTracker.currentStatus.get('SecretTunnel')">
          <area alt="Secret Tunnel" coords="467,237,524,245,516,279,567,288,563,301,502,290,507,255,465,248" routerLink="/secrettunnel" shape="poly" title="Secret Tunnel">
        </div>
        <div *ngIf="locationTracker.currentStatus.get('GlasgowCentralLowLevel')">
          <area alt="Glasgow Central - very low level" coords="573,265,656,272,663,355,561,341" routerLink="/puzzlemap" shape="poly" title="Glasgow Central - very low level">
        </div>
        <div *ngIf="locationTracker.currentStatus.get('StEnochTunnel')">
          <area alt="Route to St Enoch Underground" coords="652,357,648,442,749,457,745,469,633,454,638,356" routerLink="/stenochtunnel" shape="poly" title="Route to St Enoch Underground">
        </div>
        <div *ngIf="locationTracker.currentStatus.get('StEnochUnderground')">
          <area alt="St Enoch Underground" coords="752,434,786,439,781,493,740,492" routerLink="/stenochunderground" shape="poly" title="St Enoch Underground">
        </div>
        <div *ngIf="locationTracker.currentStatus.get('HillheadTunnel')">
          <area alt="To Hillhead Underground" coords="767,424,854,0,867,0,776,428" routerLink="/hillheadtunnel" shape="poly" title="To Hillhead Underground">
        </div>
      </map>
    </maphilight>
  </div>
</div>
