<div class="container">
  <div class="card text-bg-dark border-light shadow-lg mt-3">
    <div class="card-header border-light" style="...">
      <h1>
        <span>Incident Response ClockL </span>
        <span> {{ timerControlService.displayTime }} </span>
      </h1>
      <h1>
        <span>Current Score: {{ teamDetailsService.score }}</span>
      </h1>
    </div>

    <div class="card-body">
      <div id="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
