<div class="row">
  <div class="column">
    <p>The subway map clue was guiding you to Hillhead.</p>
    <p>Do you take the Outer or the (D)inner circle?</p>
  </div>
  <div class="column">
    <maphilight
      [config]="config"
      id="stEnochUndergroundMap"
    >
      <img src="../../../assets/stenochunderground.png" alt="More Tunnel Darkness" height="800" width="1200" usemap="#image-map">
      <div class="attribution">Image Attribution: <span class="attributionText">Reproduced with thanks (© SUBWAYS OF EUROPE PHOTO SERIES) </span>
        <a class="attributionLink" target="_blank" href="https://ubahn.photos/en/portfolio_category/glasgow-subway/#lightbox[group-0]/10/">
          'https://ubahn.photos/en/portfolio_category/glasgow-subway'</a>
      </div>

      <map name="image-map">
        <area alt="Escape tunnel" title="Escape tunnel" (click)="onSelect()"
              coords="516,426,511,409,498,392,469,392,454,396,439,413,443,430,453,439,475,441,497,438" shape="poly" routerLink="/hillheadtunnel">
      </map>
    </maphilight>
  </div>
</div>

<!--<a class="button hvr-grow hvr-icon-back" routerLink="/centralGlasgow">-->
<!--  <i class="fa fa-chevron-circle-left hvr-icon"></i>Go back to map</a>-->
