<div class="row">
  <div class="column">
    <p>Your team captain takes out another map but this doesn't look anything like Pacific Quay!</p>
    <p>Where has the SECC gone? Shouldn't there be some bridges across the Clyde?</p>
    <p>You remember hearing something about a Garden Festival that changed the look of the area.</p>
    <br/>
    <p>Can you work out where the Glasgow Science Centre would be on this strange map?</p>
  </div>
  <div class="column">
    <maphilight
      [config]="config"
      id="ScienceCentre"
    >
      <img src="../../../assets/ScienceCentre.PNG" alt="The Glasgow Science Centre" usemap="#image-map">
      <div class="attribution">Map Attribution: <span class="attributionText">Reproduced with the permission of the </span>
        <a class="attributionLink" target="_blank" href="https://maps.nls.uk/view/103656952">'National Library of Scotland'</a>
      </div>

      <map name="image-map">
        <area alt="The Glasgow Science Centre" title="The Glasgow Science Centre" routerLink="/puzzlescience"
              coords="191,205,523,355,510,382,182,239" shape="poly">
      </map>
    </maphilight>
  </div>
</div>
