.towermap {
    text-align: center;
    padding: 20px 0;
}

.towermap__success-banner {
    max-width: 80%;
    margin: auto;
}

.towermap__button {
    width: 70px;
    height: 70px;
}

.towermap__button:focus {
    outline: none;
}

.towermap__button__puzzle01 {
    transform: translate(965px, 1750px)
}

.towermap__button__puzzle02 {
    transform: translate(980px, 400px);
}

.towermap__button__puzzle03 {
    transform: translate(1140px, 300px);
}

.towermap__button__puzzle04 {
    transform: translate(970px, 1300px);
}

.towermap__button__puzzle05 {
    transform: translate(1030px, 1650px);
}
.towermap__button__puzzle06 {
    transform: translate(1040px, 900px);
}
