<div class="towermap">
    <div *ngIf="allPuzzlesCompleted()" class="towermap__success-banner alert alert-success">
        <h5>Well done!! You saved the Glasgow Tower!</h5>
        <button class="btn btn-success" routerLink="/Ending">
            Click here to close the Incident!
        </button>
    </div>

    <div *ngIf="!allPuzzlesCompleted()">
        <h4>Look at the picture below and click on the danger signs and fix the issues!</h4>

        <svg 
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 2220 2200"
            >
            <image
                width="2220"
                height="2200"
                href="../../assets/GlasgowTower.jpg"
            ></image>
            
            <!--Access Controls-->
            <image *ngIf="!isCompleted('Puzzle01')" routerLink="/puzzle01" height="60" width="60" x="965" y="1750" href="../../../assets/danger.png"
                xlink:title=""Access Controls"></image>
            <image *ngIf="isCompleted('Puzzle01')" routerLink="/puzzle01" height="60" width="60" x="965" y="1750" href="../../../assets/green_tick.JPG"
                xlink:title=""Access Controls"></image>
            <!--Lift Operations-->
            <image *ngIf="!isCompleted('Puzzle02')" routerLink="/puzzle02" height="60" width="60" x="980" y="400" href="../../../assets/danger.png"
                xlink:title=""Access Controls"></image>
            <image *ngIf="isCompleted('Puzzle02')" routerLink="/puzzle02" height="60" width="60" x="980" y="400" href="../../../assets/green_tick.JPG"
                xlink:title=""Access Controls"></image>    
            <!--Weather Controls - Vulnerable Website-->
            <image *ngIf="!isCompleted('Puzzle03')" routerLink="/puzzle03" height="60" width="60" x="1140" y="300" href="../../../assets/danger.png"
                xlink:title=""Access Controls"></image>
            <image *ngIf="isCompleted('Puzzle03')" routerLink="/puzzle03" height="60" width="60" x="1140" y="300" href="../../../assets/green_tick.JPG"
                xlink:title=""Access Controls"></image>    
            <!--Weather Controls - Vulnerable Machine-->
            <image *ngIf="!isCompleted('Puzzle04')" routerLink="/puzzle04" height="60" width="60" x="970" y="1300" href="../../../assets/danger.png"
                xlink:title=""Access Controls"></image>
            <image *ngIf="isCompleted('Puzzle04')" routerLink="/puzzle04" height="60" width="60" x="970" y="1300" href="../../../assets/green_tick.JPG"
                xlink:title=""Access Controls"></image> 
            <!--Tower Brakes/Alignment-->
            <image *ngIf="!isCompleted('Puzzle05')" routerLink="/puzzle05" height="60" width="60" x="1030" y="1650" href="../../../assets/danger.png"
                xlink:title=""Access Controls"></image>
            <image *ngIf="isCompleted('Puzzle05')" routerLink="/puzzle05" height="60" width="60" x="1030" y="1650" href="../../../assets/green_tick.JPG"
                xlink:title=""Access Controls"></image>   
            <!--Climate Control-->
            <image *ngIf="!isCompleted('Puzzle06')" routerLink="/puzzle06" height="60" width="60" x="1040" y="900" href="../../../assets/danger.png"
                xlink:title=""Access Controls"></image>
            <image *ngIf="isCompleted('Puzzle06')" routerLink="/puzzle06" height="60" width="60" x="1040" y="900" href="../../../assets/green_tick.JPG"
                xlink:title=""Access Controls"></image>                                                                          
        </svg>
        <p>Image Credit: Stephen Breslin</p>
    </div>
</div>