<div class="towermap">
    <div *ngIf="allPuzzlesCompleted()" class="towermap__success-banner alert alert-success">
        <h5>Well done!! You saved the Glasgow Tower!</h5>
        <button class="btn btn-success" routerLink="/Ending">
            Click here to close the Incident!
        </button>
    </div>

    <div *ngIf="!allPuzzlesCompleted()">
        <h4>Look at the picture below and click on the danger signs and fix the issues!</h4>
        <svg 
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 2220 2200"
        >
            <image
                width="2220"
                height="2200"
                href="../../assets/Glasgow_Tower.jpg"
            ></image>
                
            <g *ngFor="let item of config">
                <image  
                    *ngIf="!isCompleted(item.name)" 
                    [routerLink]="item.route" 
                    href="../../../assets/warning.svg"
                    class="towermap__icon towermap__icon__{{item.name}}">
                </image>
                    
                <image 
                    *ngIf="isCompleted(item.name)" 
                    href="../../../assets/tick.svg"
                    class="towermap__icon towermap__icon__{{item.name}}">
                </image>
            </g>                                                       
        </svg>
        <p>Image Credit: Stephen Breslin</p>
    </div>
</div>