<h2>Tunnel</h2>

<div class="row">
  <div class="column">
    <p>You follow the disused railway tunnel from the old Botanic Gardens Station to Kelvingrove Park.</p>

    <p>From here, there appears to be two options:</p>
    <ul>
      <li>(a) take the next tunnel south</li>
      <li>(b) wait for a bus.</li>
    </ul>

    <p>Unfortunately, the tunnel entrance is secured with a four digit code.</p>
    <p>The prospect of taking the 666A bus fills you with dread but you still
      study the vandalised timetable while you consider your options.</p>
    <p>You notice that the time of the next bus has been obscured.</p>

    <ul>
      <li>1601 Glasgow Necropolis</li>
      <li>1602 Trongate</li>
      <li>1604 Glasgow Green</li>
      <li>1607 Clyde Street, opp. Suspension Bridge</li>
      <li>1612 Oswald Street</li>
      <li>1620 Hope Street</li>
      <li>1633 Charing Cross</li>
      <li>xxxx Eldon Street, opp. Park</li>
    </ul>

    <p>There is something strange about these bus times.</p>
    <p>Surely the four digit security code wouldn't be the time of the next bus?</p>
    <br/>

    <div>
      <label>What is the 4 digit security code? Type your answer and hit Enter.
        <input #box
               (keyup.enter)="update(box.value)"
               (blur)="update(box.value)">
      </label>
    </div>

    <div *ngIf="correctAnswer">
      <p>You got the right answer and now you !</p>
      <Button class="button hvr-grow hvr-icon-back" routerLink="/centrallowlevel">
        Go to TBD
      </Button>
    </div>

    <div class="wrongAnswer" *ngIf="incorrectCount > 0">
      <p>That is not the right answer!</p>
    </div>

    <div class="hint" *ngIf="showHint">
      <p>Hint!</p>
    </div>

  </div>
  <div class="column">
    <img src="../../../assets/subwayMap.png" alt="TBD">
    <div class="attribution">Image Attribution: <span class="attributionText">Photos produced courtesy of Rowan</span></div>
  </div>
</div>

<!--<Button class="button hvr-grow hvr-icon-back" routerLink="/centralGlasgow">-->
<!--  <i class="fa fa-chevron-circle-left hvr-icon"></i>Go back to Glasgow Central map-->
<!--</Button>-->
