<div class="row">
  <div class="column">
    <p>You proceed slowly and carefully along the dark tunnel.</p>
    <p>As you follow the wall, you notice a faded sign saying Grahamston.</p>
    <p>Could this be part of the abandoned village under Glasgow Central Station?</p>
    <p>Unfortunately, there is no time to delay.</p>
    <p>You should hurry on!</p>
  </div>
  <div class="column">
    <maphilight
      [config]="config"
      id="secretTunnelMap"
    >
      <img src="../../../assets/secrettunnel.png" alt="Secret Tunnel" width="1200" usemap="#image-map">

      <map name="image-map">
        <area alt="The tunnel darkness" title="The tunnel darkness" (click)="onSelect()"
              routerLink="/centralGlasgow" coords="559,290,664,368" shape="rect">
      </map>
    </maphilight>
  </div>
</div>


<!--<Button class="button hvr-grow hvr-icon-back" routerLink="/centralGlasgow">-->
<!--  <i class="fa fa-chevron-circle-left hvr-icon"></i>Go back to map-->
<!--</Button>-->
