<div class="row">
  <div class="column">
    <p>Another tunnel. Your head torch is starting to dim. The scuttling sounds are getting louder.</p>
    <p>You hope that this does not lead to a dead end!!!</p>
  </div>
  <div class="column">
    <maphilight
      [config]="config"
      id="stEnochTunnelMap"
    >
      <img alt="More Tunnel Darkness" height="800" src="../../../assets/stenochtunnel.png" usemap="#image-map" width="1200">

      <map name="image-map">
        <area (click)="onSelect()" alt="More Tunnel Darkness"
              coords="602,377,586,393,578,419,592,440,623,451,646,447,664,429,667,400,651,380,638,373,619,368"
              routerLink="/centralGlasgow" shape="poly" title="More Tunnel Darkness">

      </map>
    </maphilight>
  </div>
</div>

<Button class="button hvr-grow hvr-icon-back" routerLink="/centralGlasgow">
  <i class="fa fa-chevron-circle-left hvr-icon"></i>Go back to map
</Button>
