<div class="row">
  <div class="column">
    <countdown [config]="config" (event)="handleEvent($event)"></countdown>
    <p>'{{teamDetailsService.teamName}}', you emerge from Hillhead station to find yourself in a dense undergrowth of plants and fungi.</p>
    <p>They appear to have escaped from the Botanic Gardens and are in the process of colonising Byres Road.</p>
    <p>The whole area is overgrown but at least the Plants are keeping the Zombies away.</p>
    <br/>
    <p>Before proceeding, your team need to collect five edible plants from the following list:</p>
    <ul>
      <li>[0] Amethyst Deceiver</li>
      <li>[1] Bog Rosemary</li>
      <li>[2] Dandelion</li>
      <li>[3] Death cap</li>
      <li>[4] Laburnum</li>
      <li>[5] Larkspur</li>
      <li>[6] Morel</li>
      <li>[7] Red Clover</li>
      <li>[8] Rosary Pea</li>
      <li>[9] Samphire</li>
    </ul>
    <br/>
    <div>
      <label>Which numbers are human edible plants and fungi? Type the answer here and hit Enter.
        <input #box
               (keyup.enter)="update(box.value)"
               (blur)="update(box.value)">
      </label>
    </div>

    <div class="rightAnswer" *ngIf="correctAnswer">
      <i class="fa fa-check"></i>
      This is the right answer and now you have to find the way to the disused Botanic Gardens low level station!
      <Button class="button hvr-grow hvr-icon-back" routerLink="/BotanicGardens">
        Go into the Botanic Gardens
      </Button>
    </div>

    <div class="wrongAnswer" *ngIf="incorrect">
      <i class="fa fa-times-circle"></i>
      That is not the right answer!
    </div>

    <div class="hint" *ngIf="showHint">
      <i class="fa fa-info-circle"></i>
      Hint!
      <p>Dandelion wine and Samphire Gin</p>
    </div>

  </div>
  <div class="column">
    <img src="../../../assets/edibleplants.png" alt="TBD">
    <div class="attribution">Image Attributions:
      <a class="attributionLink" target="_blank" href="https://en.wikipedia.org/wiki/Laccaria_amethystina#/media/File:Laccaria_amethystina_LC0370.jpg">
        https://en.wikipedia.org/wiki/Laccaria_amethystina#/media/File:Laccaria_amethystina_LC0370.jpg
      </a>
      <a class="attributionLink" target="_blank" href="https://en.wikipedia.org/wiki/Andromeda_polifolia#/media/File:Andromeda_polifolia_bloom.jpg">
        https://en.wikipedia.org/wiki/Andromeda_polifolia#/media/File:Andromeda_polifolia_bloom.jpg
      </a>
      <a class="attributionLink" target="_blank" href="https://en.wikipedia.org/wiki/Taraxacum#/media/File:DandelionFlower.jpg">
        https://en.wikipedia.org/wiki/Taraxacum#/media/File:DandelionFlower.jpg
      </a>
      <a class="attributionLink" target="_blank" href="https://en.wikipedia.org/wiki/Amanita_phalloides#/media/File:Amanita_phalloides_1.JPG">
        https://en.wikipedia.org/wiki/Amanita_phalloides#/media/File:Amanita_phalloides_1.JPG
      </a>
      <a class="attributionLink" target="_blank" href="https://en.wikipedia.org/wiki/Laburnum#/media/File:Laburnum_anagyroides2.jpg">
        https://en.wikipedia.org/wiki/Laburnum#/media/File:Laburnum_anagyroides2.jpg
      </a>
      <a class="attributionLink" target="_blank" href="https://en.wikipedia.org/wiki/Consolida#/media/File:Consolida-ambigua.jpg">
        https://en.wikipedia.org/wiki/Consolida#/media/File:Consolida-ambigua.jpg
      </a>
      <a class="attributionLink" target="_blank" href="https://en.wikipedia.org/wiki/Morchella#/media/File:Morchella_conica_1_beentree.jpg">
        https://en.wikipedia.org/wiki/Morchella#/media/File:Morchella_conica_1_beentree.jpg
      </a>
      <a class="attributionLink" target="_blank" href="https://en.wikipedia.org/wiki/Trifolium_pratense#/media/File:Trifolium_pratense_-_Keila2.jpg">
        https://en.wikipedia.org/wiki/Trifolium_pratense#/media/File:Trifolium_pratense_-_Keila2.jpg
      </a>
      <a class="attributionLink" target="_blank" href="https://en.wikipedia.org/wiki/Abrus_precatorius#/media/File:Abrus_precatorius_pods.jpg">
        https://en.wikipedia.org/wiki/Abrus_precatorius#/media/File:Abrus_precatorius_pods.jpg
      </a>
      <a class="attributionLink" target="_blank" href="https://en.wikipedia.org/wiki/Samphire#/media/File:Norfolk_Samphire.jpg">
        https://en.wikipedia.org/wiki/Samphire#/media/File:Norfolk_Samphire.jpg
      </a>
    </div>
  </div>
</div>

<!--<Button class="button hvr-grow hvr-icon-back" routerLink="/centralGlasgow">-->
<!--  <i class="fa fa-chevron-circle-left hvr-icon"></i>Go back to Glasgow Central map-->
<!--</Button>-->
