<div>
    <div>
        The hackers are trying to crack passwords at a rate of 10,000 tries per second. Passwords with high keyspace take longer to crack.
        The hackers surely won't be able to crack the stronger password with a keyspace of 93718924163640272905211111487177.
        <br>
      <countdown [config]="config" (event)="handleEvent($event)"></countdown>
      <div class="hint" *ngIf="showHint">
        <i class="fa fa-info-circle"></i>
        Hint!
        <p>If the hackers can try 10,000 times in a second, how many times can they try in a 60 seconds?</p>
        <p>Then how many times can they try in 60 minutes? Once you know that, how many hours will it take to crack the number above? Remember to round up the last digit.</p>
        </div>
        <br>
        Can you calculate how many hours it would take to crack the strong password <strong>Cloud123@#456aAfe</strong> (rounded up to the nearest hour)?
        <br>
        <div class="form-group mb-3">
            <label for password class="form-label">Input hours here:</label>
            <input class="bg-dark border-light form-control"
                #strongHours
                />
            <button
                class="btn bg-dark btn-outline-light mt-3"
                (click)="strongPasswordCrackerValue(strongHours.value)"
                >
                Submit
            </button>
            <br>
            <br>
            <div class="rightAnswer fw-bold"
            role="alert"
            *ngIf="strongPasswordCrackerCorrect"
            >
            <i class="fa fa-check"></i>
                That's correct!
                <div class="m-1 fw-lighter">
                    That's the correct number of hours for the password. That's a long time!
                </div>
            </div>
            <div class="wrongAnswer fw-bold"
            role="alert"
            *ngIf="strongPasswordCrackerIncorrect"
            >
            <i class="fa fa-times-circle"></i>
            That's not quite right...
            <div class="m-1 fw-lighter">
                That's not quite right, double check your calculations. Remember it runs at 10,000 tries per second.
            </div>
        </div>
        <br>
        <br>
        Can you calculate how many hours it would take to crack the weak password <strong>cloud</strong> with a keyspace of 1188137 (to 2 decminal places)?
        <br>
        <div class="form-group mb-3">
            <label for password class="form-label">Input hours here:</label>
            <input class="bg-dark border-light form-control"
            #weakHours
            />
            <button
                class="btn bg-dark btn-outline-light mt-3"
                (click)="weakPasswordCrackerValue(weakHours.value)"
                >
                Submit
            </button>
        </div>
        <div class="rightAnswer fw-bold"
        role="alert"
        *ngIf="weakPasswordCrackerCorrect"
        >
        <i class="fa fa-check"></i>
            That's correct
            <div class="m-1 fw-lighter">
                That's the correct number of hours to crack the weak password, well done!
            </div>
        </div>
        <div class="wrongAnswer fw-bold"
            role="alert"
            *ngIf="weakPasswordCrackerIncorrect"
        >
            <i class="fa fa-times-circle"></i>
            That's not quite right...
            <div class="m-1 fw-lighter">
                That's not quite right, double check your calculations. remember it runs a 10,000 tries per second.
            </div>
        </div>
        <div class="alert alert-success mt-3 fw-bold"
            role="alert"
            *ngIf="complete"
            >

            <div class="m-1 fw-lighter">
                Great job! You were able to make the Glasgow Tower's brake controls more secure.
                You've completed this puzzle. You may now return to the Main page.
            </div>
                <button (click)="nextClicked()" class="btn btn-success">Continue</button>
            </div>
        </div>
    </div>
</div>
