/* You can add global styles to this file, and also import other style files */

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

html, body {
  height: 97%;
  width: 98%;
  color: whitesmoke;
  background-color: darkgray;
  margin: 1%;
  padding: 0;
  font: 16px verdana, arial, helvetica, sans-serif;
}
h2 {
  /*font:bold 12px/14px verdana, arial, helvetica, sans-serif;*/
  margin:0 0 0 0;
  padding:0;
}
p {
  /*font:12px verdana, arial, helvetica, sans-serif;*/
  margin:0 0 10px 0;
  padding:0;
}

/* All the content boxes belong to the content class. */
#content {
  width:97%;
  height:96%;
  border:1px solid black;
  background-color:darkslategray;
  padding:1%;
}

.row {
  display: flex;
}
/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.attribution {
  font: 12px verdana, arial, helvetica, sans-serif;
  color: darkgrey;
}

.attributionText {
  font: 12px verdana, arial, helvetica, sans-serif;
  color: lightgrey;
}

.attributionLink {
  font: 12px verdana, arial, helvetica, sans-serif;
  /*color: blue;*/
}

.rightAnswer,
.wrongAnswer,
.hint {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.hint {
  color: #059;
  background-color: #BEF;
}

.rightAnswer {
  color: #270;
  background-color: #DFF2BF;
}

.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}

.wrongAnswer {
  color: #D8000C;
  background-color: #FFBABA;
}
