/* You can add global styles to this file, and also import other style files */

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');


h2 {
  /*font:bold 12px/14px verdana, arial, helvetica, sans-serif;*/
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin:0 0 0 0;
  padding:0;
}

p {
  /*font:12px verdana, arial, helvetica, sans-serif;*/
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin:0 0 10px 0;
  padding:0;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding-right: 1%;
}

.description {
  font: medium, Verdana, Arial, Helvetica, sans-serif;
}
.pad-textarea {
  padding-bottom: 1%;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.attribution {
  font: 12px verdana, arial, helvetica, sans-serif;
  color: darkgrey;
}

.attributionText {
  font: 12px verdana, arial, helvetica, sans-serif;
  color: grey;
}

.rightAnswer,
.wrongAnswer,
.hint {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.hint {
  color: #059;
  background-color: #BEF;
}

.rightAnswer {
  color: #270;
  background-color: #DFF2BF;
}

.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}

.wrongAnswer {
  color: #D8000C;
  background-color: #FFBABA;
}

ul.nomark {
  list-style-type: none;
}

ol.alpha {
  list-style-type: upper-alpha;
}

/* unvisited link */
a:link {
  color: hotpink;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: green;
}

a:darkBG {
  color: aquamarine;
}

.puzzlebox {
  border-width: 1px;
  border-color: silver;
  border-style: solid;
  padding: 8px;
}

.fancyTitle {
  font-family: cursive;
  color: lightgoldenrodyellow;
}

.form-control {
  color: white!important;
}

.comment {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(75,75,75);
}

.code {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(0, 0, 0);
  font-weight: bold;
}