<div class="row">
  <div class="column">
    <p>Congratulations '{{teamDetailsService.teamName}}'. Looks like you need to get to Hillhead.</p>
    <p>First you must find your way to the nearest Underground Station.</p>
    <p>Wasn't there a rumour of an old street somewhere below Central Station?</p>
    <br/>
    <p>As you search, you hear scuttling sounds in the walls.</p>
  </div>
  <div class="column">
    <maphilight
      [config]="config"
      id="centralLowLevelMap"
    >
      <img src="../../../assets/centrallowlevel.png" alt="Glasgow Central - The very low level" usemap="#image-map">
      <div class="attribution">Image Attribution: <span class="attributionText">Reproduced with thanks from PInterest</span>
        <a class="attributionLink" target="_blank" href="https://www.pinterest.co.uk/pin/431430839303750265/">
          'Abandoned Glasgow'</a>
      </div>

      <map name="image-map">
        <area alt="St Enoch's Tunnel" title="St Enoch's Tunnel" routerLink="/centralGlasgow" (click)="onSelect()"
              coords="451,302,450,194,459,156,467,148,476,163,481,180,484,203,485,253,487,304" shape="poly">
      </map>
    </maphilight>
  </div>
</div>

<!--<Button class="button hvr-grow hvr-icon-back" routerLink="/centralGlasgow">-->
<!--  <i class="fa fa-chevron-circle-left hvr-icon"></i>Go back to map-->
<!--</Button>-->
