<h2>Tunnel</h2>
<br/>
<div class="row">
  <div class="column">
    <countdown [config]="config" (event)="handleEvent($event)"></countdown>
    <div class="hint" *ngIf="showHint">
      <i class="fa fa-info-circle"></i>
      Hint!
      <p>Does anything look familiar about the time taken between stops?</p>
    </div>

    <p>You follow the tunnel to Kelvingrove Park.</p>
    <p>Unfortunately, the next tunnel entrance is secured with a four digit code.</p>
    <br/>
    <p>You notice a bus timetable on the ground. It's for the 666A bus!!!</p>
    <p>You examine the timetable. The time of the next bus has been deliberately obscured.</p>
    <ul class="nomark">
      <li>1601 Glasgow Necropolis</li>
      <li>1602 Trongate</li>
      <li>1604 Glasgow Green</li>
      <li>1607 Clyde Street, opp. Suspension Bridge</li>
      <li>1612 Oswald Street</li>
      <li>1620 Hope Street</li>
      <li>1633 Charing Cross</li>
      <li>xxxx Eldon Street, opp. Park</li>
    </ul>
    <br/>
    <p>There is something strange about these bus times. A clue?</p>
    <br/>
    <div>
      <label>What is the 4 digit code? Type your answer and hit Enter.
        <input #box
               (keyup.enter)="update(box.value)"
               (blur)="update(box.value)">
      </label>
    </div>
    <br/>

    <div class="rightAnswer" *ngIf="correctAnswer">
      <i class="fa fa-check"></i>
      You got the right answer and the gate clicks open!
      <Button class="button hvr-grow hvr-icon-back" routerLink="/ParkTunnel">
        Go into the tunnel
      </Button>
    </div>

    <div class="wrongAnswer" *ngIf="incorrect">
      <i class="fa fa-times-circle"></i>
      That is not the right answer!
    </div>

  </div>
  <div class="column">
    <div class="pad-textarea">
      <textarea rows="10" cols="75" name="text" placeholder="Scratchpad for working out puzzle for whole team to see..."></textarea>
    </div>
    <img src="../../../assets/numberlock.png" alt="Number lock on the Kelvingrove park tunnel gates">
    <div class="attribution">Image Attribution: <span class="attributionText">Image courtesy of the development team</span></div>
  </div>
</div>

<!--<Button class="button hvr-grow hvr-icon-back" routerLink="/centralGlasgow">-->
<!--  <i class="fa fa-chevron-circle-left hvr-icon"></i>Go back to Glasgow Central map-->
<!--</Button>-->
